/* container */

html, body, #root {
height: 100%;
margin: 0;
}
.info1-page {
width: 1280px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0 auto;
padding: 60px 0;
background: #fff;
box-sizing: border-box;

}

/* header */
.info1-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}
.info1-title {
font-size: 30px;
font-weight: normal;
color: #4C0FAD;
margin-left: 130px;
text-align: center;
flex: 1;
}
.info1-logout {
font-size: 20px;
color: black;
font-weight: bold;
background: none;
border: none;
cursor: pointer;
}

/* subtitle */
.info1-subtitle {
font-size: 20px;
color: black;
font-weight: normal;
text-align: center;
margin-bottom: 20px;
}

/* selected tags */
.info1-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 12px;
margin-bottom: 24px;
}
.info1-tag {
background: #4C0FAD;
margin-bottom: 34px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 12px;
padding-right: 8px;
border-radius: 20px;
font-size: 16px;
color: #fff;
display: inline-flex;
align-items: center;
}
.info1-tag button {
margin-left: 8px;
background: none;
border: none;
color: #fff;
font-size: 16px;
cursor: pointer;
}

/* options grid */
.info1-grid {
width: 719px;
display: grid;
grid-template-columns: repeat(2, auto);
justify-content: center;
gap: 16px 80px;
margin-bottom: 40px;
margin: 30px auto 40px;
}
.info1-option {
color: black;
display: flex;
align-items: center;
font-size: 16px;
font-weight: bold;
}
.info1-option input {
margin-right: 8px;
color: rgb(255, 255, 255);
font-weight: bold;
}
.info1-option input[type="checkbox"] {
-webkit-appearance: none;
appearance: none;
width: 16px;
height: 16px;
border: 1px solid #000;
background: #fff;
position: relative;
margin-right: 8px;
cursor: pointer;
}
.info1-option input[type="checkbox"]:checked::after {
content: "";
position: absolute;
top: 1px;
left: 3px;
width: 6px;
height: 9px;
border: solid #000;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}

/* progress bars */
.info1-progress {
width: 1126px;
margin: 0 auto;
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 48px;
margin-top: 68px;
}
.info1-bar {
width: 358px;
height: 4px;
background: #EBD9FF;
border-radius: 2px;
}
.info1-bar-active {
background: #4C0FAD;
}

/* action button */
.info1-actions {
display: flex;
justify-content: flex-end;
margin-right: 77px;
}
.info1-next {
width: 202px;
height: 51px;
background: #4C0FAD;
color: #fff;
font-size: 20px;
font-weight: bold;
border: none;
border-radius: 8px;
padding-top: 10px;
cursor: pointer;
text-decoration: none;
}

.info1-next:link,
.info1-next:visited,
.info1-next:hover,
.info1-next:active {
  color: #fff;
  text-decoration: none;
}